doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        a(href="")
                img(src="/assets/backarrow.png")
        p CREATE MOVIE
        label Title
        input(type="text" name="Title")
        label Year
        input(type="text" name="Year")
        label Runtime
        input(type="text" name="Runtime")
        label Director
        input(type="text" name="Director")
        label Writer
        input(type="text" name="Writer")
        label Actors
        input(type="text" name="Actors")
        label Plot
        input(type="text" name="Plot")
        label Poster
        input(type="text" name="Poster")
        input(type="submit" value="CONFIRM CREATION" name="submit")
