doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        a(href="")
                img(src="/assets/backarrow.png")
        p CREATE MOVIE
        label Poster
        input(type="file" id="poster" accept="image/png, image/jpeg")
        label Movie Details
        input(type="text" placeholder="Year - Title - Runtime")
        label IMBD Rating:
        input(type="text")
        label Genres:
        input(type="text")
        label Directors:
        input(type="text")
        label Writers:
        input(type="text")
        label Actors:
        input(type="text")
        input(type="submit" value="CONFIRM CREATION")