doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Login
        link(rel="stylesheet" type="text/css" href="/styles.css")
    header
        h2 FS MOVIES+
        img(src="/assets/girl.jpg" alt="logo" class="girl-logo") 
    body 
        h3 LOG IN
        div
            form(action="/login" method="post" class="loginForm")
                input(type="email" class="emailForm" name="email",placeholder="Email address")
                input(type="password" class="passwordForm" name="password" placeholder="Password")
                a(href="/recoverpassword") Forgot your password?
                input(type="submit" value="Login")
        div
            a(href="") Or login with GOOGLE
            a(href="")
                img(src="/assets/googleicon.png" class="googleicon")
        a(href="/signup") Don't you have an account? SIGN UP

    script(src="/scripts.js") 