doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Recover Password
        link(rel="stylesheet" type="text/css" href="/styles.css")
        
    body
        header(id="formatHeader")
            button(type="button" onclick="history.back()") &#8678         
            h1.main-title RECOVER PASSWORD
        p To reset your password, please enter your email address. You will receive an email with further instructions:
        form(action="/" method="get" class="loginForm")
            input(type="email" class="emailForm" name="userLog" placeholder="Email address")
            input(type="submit" value="Confirm")
    script(src="/scripts.js") 