doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Restore Password
        link(rel="stylesheet", type="text/css", href="/styles.css")
    body
        header(id="formatHeader")
            a(href="/search")
                    img(src="/assets/backarrow.png")          
            h1.main-title RECOVER PASSWORD
            label(for="burger-checkbox")
                img(src="./assets/morty.png" id="burger" alt="burguer icon")
        input(type="checkbox" id="burger-checkbox")
        nav
            ul
                li 
                    a(href="/search") Browser
                li 
                    a(href="/movies/:id") Manage Your Movies
                li 
                    a(href="/about") About FS Movies+
                li 
                    a(href="/") < Log out
        p Please, enter your current password and a new one:
        form(action="/", method="post", class="loginForm")
            input(type="password", placeholder="Current Password")
            input(type="password", placeholder="New Password")

    script(src="/scripts.js") 