doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Sign Up
        link(rel="stylesheet" type="text/css" href="/styles.css")
    header
        h2 FS MOVIES+
        img(src="/assets/girl.png" alt="logo" class="girl-logo") 
    body 
        h3 SIGN UP
        div
            form(action="/signup" method="post" class="loginForm")
                input(type="email" class="emailForm" name="email" placeholder="Email address")
                input(type="password" class="passwordForm" name="password" placeholder="Password")
                input(type="password" class="passwordForm" name="passwordCheck" placeholder="Repeat Password")
                label(for="user") User 
                input(type="radio" value="user" name="role")
                label(for="admin") Admin
                input(type="radio" value="admin" name="role")
                input(type="submit" value="Sign up")
        div
            a(href="/google/auth") Or sign up with GOOGLE
                img(src="/assets/googleicon.png" class="googleicon")
    script(src="/scripts.js") 