doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Signup
        //- link(rel="stylesheet", type="text/css", href="/styles.css")
    header
        h2 FS MOVIES+
        img(src="/assets/girl.jpg" alt="logo") 
    body 
        h3 SIGN UP with
        select(id="account" name="account")
            option(value="GMAIL") GMAIL
            option(value="FACEBOOK") FACEBOOK
            option(value="GITHUB") GITHUB
        form(action="/signup", method="post", class="loginForm")
            input(type="email", class="emailForm", name="userSign", placeholder="Email address")
            input(type="password", class="passwordForm", placeholder="Password")
            input(type="submit" value="Sign up")
            a(href="") Or sign up with GOOGLE
            a(href="")
                img(src="/assets/googleicon.png")

    //- script(src="/scripts.js") 