doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Sign Up
        link(rel="stylesheet" type="text/css" href="/styles.css") 
    body
        header(class="format_logSign") 
            div(class="rowDirection")
                h2(class="greenletter") FS
                h2(class="pinkletter")  MOVIES
                h2(class="greenletter")  +
            img(src="/assets/girl.png" alt="logo" class="girl-logo")

        main(class="format_logSign") 
            h3 SIGN UP
            form(action="/signup" method="post" class="loginForm")
                input(type="email" class="emailForm" name="email" placeholder="Email address")
                input(type="password" class="passwordForm" name="password" placeholder="Password")
                input(type="password" class="passwordForm" name="passwordCheck" placeholder="Repeat Password")
                div(class="transparentBack")
                    label(for="user" class="transparentBack") User 
                    input(type="radio" value="user" name="role")
                    label(for="admin" class="transparentBack") Admin
                    input(type="radio" value="admin" name="role")
                input(type="submit" value="Sign up") 
            a(href="/google/auth" class="rowDirection") 
                p Or sign up with GOOGLE
                img(src="/assets/googleicon.png" class="googleicon")
    script(src="/scripts.js") 