doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title About Page
        link(rel="icon" type="image/x-icon" href="/assets/palomitas.png")
        link(rel="stylesheet" type="text/css" href="/styles.css")
    body
        header(id="formatHeader")
            button(type="button", onclick="history.back()") &#8678
            h1.main-title About
            div(id="space2") 
            input#toggle(type='checkbox')
            label.hamburger(for='toggle')
                div.top-bun
                div.meat
                div.bottom-bun

            .nav
                .nav-wrapper
                    nav
                        a(href="/u/movies") Your Movies
                        br
                        a(href="/u/search") Browser
                        br
                        if notGoogleUser
                            a(href='/u/restorepassword') Change Password
                            br
                        a(href="/logout") Log out
        main(id="aboutFormat")
            p FS Movies+ is a full-stack project made by:
            ul
                    a(href="https://github.com/Francsy" class="integrantes")
                        p Fran V.Hernández
                        img(src="/assets/githublogo.png" class="githublogo")
                    a(href="https://github.com/ZeberMVP" class="integrantes")
                        p Rubén Zafra
                        img(src="/assets/githublogo.png" class="githublogo")
                    a(href="https://github.com/Cesario87" class="integrantes")
                        p César Alba
                        img(src="/assets/githublogo.png" class="githublogo")

            p by employing the following technologies & techniques:
            ul
                li JavaScript ES6 
                li Node.js Express
                li NPM Packages: 
                li Mongo Compass
                li SQL-Postgres
                li API fetching
                li SCRUM Methodology
            a(href="https://github.com/Francsy/MovieApp/blob/main/README.mdv")
                        p If you need further information, please check our project's README

