doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Restore Password
        link(rel="stylesheet" type="text/css" href="/styles.css")
    body
        header(id="formatHeader")
            button(type="button" onclick="history.back()") &#8678       
            h1.main-title RESTORE PASSWORD
            label(for="burger-checkbox")
                img(src="/assets/morty.png" id="burger" alt="burguer icon")
        input(type="checkbox" id="burger-checkbox")
        nav
            ul
                li 
                    a(href="/u/search") Browser
                li 
                    a(href="/u/movies/22") Manage Your Movies
                li 
                    a(href="/about") About FS Movies+
                li 
                    a(href="/") < Log out
        p Please, enter your current password and a new one:
        form(action="/u/restorepassword" method="post" class="loginForm")
            input(type="password" name="password" placeholder="Current Password")
            input(type="password" name="newPassword" placeholder="New password")
            input(type="password" name="newPasswordCheck" placeholder="Repeat new password")
            input(type="submit" value="Change password")


    script(src="/scripts.js") 