.format_logSign{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #837688 20%, #066254 100%) padding-box;
    border-radius: 1em;
    width: 80%;
    padding: 5% 0%;
}

a, .transparentBack{
    background: rgba(255, 255, 255, 0)
}

input[type="email"], input[type="password"]{
    width: 80%;
    margin-bottom: 5%;
}

.greenletter{
    color: rgb(4, 234, 255);
}

.pinkletter{
    color:#EF5DBC;
}

.rowDirection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input[type="submit"] {
    margin-top: 10%;
    padding: 7px 40px;
    background: linear-gradient(180deg, #ad4788 0%, #066254 100%) padding-box,
        linear-gradient(to bottom, #EF5DBC, rgb(4, 234, 255)) border-box;
    border-radius: 0.75em;
    border: 4px solid transparent;
    font-size: 20px;
}

/* BROWSER */
:root {
    --pink: #c2318d;
    --background-base: #19191A;
    --title-blue: #11E0C1;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: var(--background-base);
    color: white;
}

body {
    margin: 0px;
}

.main-title {
    color: var(--title-blue);
    text-align: center;
}

/* Formulario de búsqueda: */

.search-form {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    position: relative;
    cursor: pointer;
}

.search-input {
    padding: 10px 40px;
    position: relative;
    border: 2px var(--pink) solid;
    border-radius: 10px;
    color: var(--pink);
    font-weight: bold;
    width: 0;
    opacity: 0;
    transition: width 0.1s, opacity 0.1s;
}

.search-input:focus {
    outline-color: var(--pink);
    border-color: var(--pink);
    outline-style: none;
}

/* Lista de pelis encontradas: */

.search-title {
    margin: 3% 2%;
    margin-top: 10%;
    font-size: 1.2rem;
    font-weight: 400;
}


.movies-found {
    height: 25vh;
    overflow-y: scroll;
    overflow-x: scroll;
    white-space: nowrap;
    margin: 2% 2%;
}

section.movies-found article {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin-right: 2%;
    height: 80%;
    /*  */
    position: relative;

}

section.movies-found article a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

section.movies-found article a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

section.movies-found article a:hover::before {
    opacity: 1;
}

section.movies-found article a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

section.movies-found article a p.movie-title {
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    /* background: rgba(0, 0, 0, 0.5); */
    color: #fff;
    padding: 10px;
    display: none;
}

section.movies-found article a:hover p.movie-title {
    display: block;
    opacity: 1;
}


.hidden {
    display: none;
}

/* HAMBURGUESA */
#formatHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
}

#space {
    width: 10vw;
}

#burger {
    width: 10vw;
    border: solid rgb(206, 78, 228);
    border-radius: 50%;
}

#burger-checkbox {
    display: none;
}

nav {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px 90px;
    box-sizing: border-box;
    z-index: 9999
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: solid white;
    background-color: wheat;
}

nav ul li a {
    line-height: 60px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 10px;
}

nav ul li a:hover {
    background-color: rgb(161, 108, 108);
    border-radius: 5px;
}

#burger-checkbox:checked~nav {
    display: block;
}

/* ***** */

/* LOG/SIGN */
.googleicon {
    margin-left: 2%;
    width: 5%;
}

.girl-logo {
    border-radius: 50%;
    border: #e83ca9;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    width: 50%;
    height: 50%;
}

/* ***** */

/*ABOUT*/
.integrantes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.githublogo {
    width: 7%;
    height: 7%;
    border-radius: 50%;
    margin-left: 2%;
}

/* ***** */
/*POPUP DELETE MY MOVIES*/
.popup-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* ***** */

.popup-content {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: solid var(--pink);
    width: 50%;
    height: 25%;
}

a:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
    * {
        font-size: 1.1rem;
    }

    .main-title {
        font-size: 1.8rem;
    }

    .movies-found {
        height: 40vh;

    }

    .search-title {
        margin-top: 5%;
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1366px) {
    * {
        font-size: 1.2rem;
    }

    .main-title {
        font-size: 2rem;
    }

    .movies-found {
        height: 70vh;
    }

    .search-title {
        margin-top: 4%;
        font-size: 1.5rem;
    }
}